.places {
  margin: 92px 11.5625% 0;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 92px 4.6875% 0;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 88px 3.125% 0;
  }
}

@media screen and (max-width:620px) {
  .places {
    margin: 64px auto 0;
  }
}