.header__lang {
  display: flex;
  gap: 18px;
  align-items: end;
  list-style-type: none;
  padding: 0;
  margin: 0 0 6px 0;
}

@media screen and (max-width:320px) {
  .header__lang {
    margin: 0 0 8px 0;
  }
}