.place__link {
  max-width: 456px;
  font-family: 'Inter';
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 12px 0 0 40px;
}

@media screen and (min-width: 768px) {
  .place__link:hover {
    opacity: 0.8;
    transition: opacity 1s;
  }
}

@media screen and (max-width: 1024px) {
  .place__link {
    margin: 12px 0 0 32px;
  }
}

@media screen and (max-width: 955px) {
  .place__link {
    margin: 12px 0 0 28px;
  }
}

@media screen and (max-width:724px) {
  .place__link {   margin: 12px 0 0 0;}
}