.cover__overlay {
  position: absolute;
  width: 1184px;
  height: 740px;
  background-color: hsla(216, 6%, 17%, 0.3);
  z-index: -1;
}

.cover__overlay:hover {
  background-color: hsla(216, 6%, 17%, 0.8);
  transition: background-color 1s;
}
